*{margin: 0;padding: 0;}
html{height: 100%;}
html,body{color:#1e1e1e;font:16px/1.5 arial;font-family:"Microsoft Yahei","simsun","simsunbd",Serif;}
body{position: relative;min-height:90%;height:90%;margin: 5% 5%;}
h1{font-size:26px;text-align:center;margin:15px 0 25px 0;color: #000;}
h2{font-size:18px;}
h3{font-size:18px; font-weight: normal; color: #000; margin: 5px 0; }
hr{margin-top:15px;border:none;border-top:1px solid #ddd;}
p{text-indent: 2em;margin-bottom: 10px;}
.header{width: 100%;}
.strong{text-align: right; font-weight: bold;color: #da0000;}
.title{letter-spacing:16px;}
.number{text-align: right;margin-bottom: 30px;color: #999;}
.first{text-indent: 0;font-weight: 900;}
.main{line-height: 42px;text-align:justify;}
.end{margin-top: 60px;}
.end p{text-align: right;}
.appendix{position: absolute;bottom: 0px;left: 0px;width: 100%;font-size: 14px;color: #999;line-height: 32px;text-align:justify;color: #888;font-size: 12px;}
.appendix p{margin-bottom: 0px;text-indent: 0;}
.appendix hr{margin-bottom: 10px;}
.appendix .ps{text-align: right;color: #da0000;}
.signet{position: absolute;top: 63%;left: 68%; width: 225px;}
.signet img{width: 100%;}