@charset "UTF-8";
*{box-sizing: border-box;margin: 0;padding: 0;}
html{-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
body{min-width: 1200px;margin: 0px;padding: 0px;background-color: #eaecf3;line-height: 1.6;font-family: "PingFang SC Medium", "Microsoft YaHei", sans-serif;}
a{text-decoration: none;}
a img{border: 0;}
a:focus, input:focus, textarea:focus, button:focus, select:focus{outline: focus-ring-color auto 0px;outline: -webkit-focus-ring-color auto 0px;}    
li{list-style: none;}


.container{width: 1200px;margin: 0 auto;}

.banner{position: relative;width: 100%;max-width:1920;height: 748px;background:#687dab url(../img/bg.jpg) no-repeat center -168px;text-align: center;}
.banner .mask{position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;background-color: #2b498d;opacity: .6;z-index: 101}
.banner .container{position: relative;height: 100%;z-index: 102;color: #fff;overflow: hidden;line-height: 1em;}
.banner .title,
.banner .sub-title{margin: 0 auto;line-height: 900px;overflow: hidden;}
.banner .title{width:440px;height:46px;font-size: 36px;margin-top: 320px;background: url(../img/title.png) no-repeat center;}
.banner .sub-title{width:651px;height:21px;font-size: 30px;margin-top: 30px;background: url(../img/sub_title.png) no-repeat center;}
// .banner .sub-title1{width:399px;height:24px;font-size: 30px;margin-top: 220px;background: url(../img/sub_title1.png) no-repeat center;}
// .banner .sub-title2{width:399px;height:24px;font-size: 30px;margin-top: 20px;background: url(../img/sub_title2.png) no-repeat center;}
.banner .phone-num{display: none;}

.header{position: absolute;top: 0px;left: 0px;width: 100%;margin-top:30px;height: 48px;line-height: 48px;color: #ffffff;z-index: 1000;}
.header .logo{float: left;width: 79px;height: 26px;background:url(../img/logo.png) no-repeat;line-height: 800px;overflow: hidden;background-size: 100%;}
.header .nav{float: right;font-size: 14px;}
.header .nav a{color: #ffffff;}
.header .nav .phone{display: none;}

.email{position: absolute;bottom: 20px;width:100%;text-align: center;font-size: 14px;}
.email.mobile{display: none;}

.footer{width: 100%;padding-top: 52px;text-align: center;color: #8a8b93;font-size: 12px;}
.footer p{ padding-top: 10px;}
.footer a{ color:  #8a8b93;};