@charset "UTF-8";
*{box-sizing: border-box;margin: 0;padding: 0;}
html{-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
body{min-width: 1200px;margin: 0px;padding: 0px;background-color: #eaecf3;line-height: 1.6;font-family: "PingFang SC Medium", "Microsoft YaHei", sans-serif;}
a{text-decoration: none;}
a img{border: 0;}
a:focus, input:focus, textarea:focus, button:focus, select:focus{outline: focus-ring-color auto 0px;outline: -webkit-focus-ring-color auto 0px;}    
li{list-style: none;}


.container{width: 1200px;margin: 0 auto;}

.banner{position: relative;width: 100%;max-width:1920;height: 748px;background:#687dab url(../img/bg.jpg) no-repeat center -168px;text-align: center;}
.banner .mask{position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;background-color: #2b498d;opacity: .7;z-index: 101}
.banner .container{position: relative;height: 100%;z-index: 102;color: #fff;overflow: hidden;line-height: 1em;}
.banner .title,
.banner .sub-title{margin: 0 auto;line-height: 900px;overflow: hidden;}
.banner .title{width:440px;height:46px;font-size: 36px;margin-top: 320px;background: url(../img/title.png) no-repeat center;}
.banner .sub-title{width:651px;height:21px;font-size: 30px;margin-top: 30px;background: url(../img/sub_title.png) no-repeat center;}
// .banner .sub-title1{width:399px;height:24px;font-size: 30px;margin-top: 220px;background: url(../img/sub_title1.png) no-repeat center;}
// .banner .sub-title2{width:399px;height:24px;font-size: 30px;margin-top: 20px;background: url(../img/sub_title2.png) no-repeat center;}
.banner .phone-num{display: none;}
.banner .code{margin-top:54px;font-size: 14px;}
.banner .code .note{display: block;}
.banner .code .code-img{margin-top: 14px;box-shadow: 0 0 7px rgba(86, 86, 86, 0.07);}
.banner .boot{position: absolute;bottom: 0px;left: 50%;width: 150px;margin-left: -75px;text-align: center;font-size: 14px;line-height: 24px;}
.banner .boot .icons-double-down{margin: -15px auto 0 auto;background-position: -240px 0;}

.header{position: absolute;top: 0px;left: 0px;width: 100%;margin-top:30px;height: 48px;line-height: 48px;color: #ffffff;z-index: 1000;}
.header .logo{float: left;width: 110px;height: 36px;background:url(../img/logo.png) no-repeat;line-height: 800px;overflow: hidden;background-size: 100%;}
.header .nav{float: right;font-size: 14px;}
.header .nav a{color: #ffffff;}
.header .nav .phone{display: none;}

.feature{width: 100%;}
.feature .cont{margin-top: 1px;width: 100%;height: 160px;box-shadow: 0 0 5px rgba(80, 107, 163, 0.05)}
.feature .item{float:left;width: 25%;height:100%;margin-top: 1px;border-right: 1px solid #dee2ed;background-color: #fff;}
.feature .item:last-of-type{border: none;}
.feature .title,.feature .info{text-align: center;line-height: 1em;}
.feature .title{margin-bottom: 10px;font-size: 16px;color: #636c8e;}
.feature .info{font-size: 14px;color: #8b8eb7;}

.icons{display: block;margin: 22px auto 5px auto;width: 60px;height: 60px;background: url(../img/icons.png) no-repeat;}
.icons.icons-apply{background-position: 0 0}
.icons.icons-tutor{background-position: -60px 0}
.icons.icons-clearing{background-position: -120px 0}
.icons.icons-repay{background-position: -180px 0}


.footer{width: 100%;padding-top: 52px;text-align: center;color: #8a8b93;font-size: 12px;}