@charset "UTF-8";
*{box-sizing: border-box;margin: 0;padding: 0;}
html{-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
body{margin: 0px;padding: 0px;background-color: #eaecf3;line-height: 1.6;font-family: "PingFang SC Medium", "Microsoft YaHei", sans-serif;}
a{text-decoration: none;}
a img{border: 0;}
a:focus, input:focus, textarea:focus, button:focus, select:focus{outline: focus-ring-color auto 0px;outline: -webkit-focus-ring-color auto 0px;}    
li{list-style: none;}


.container{width: 100%;margin: 0 auto;}

.banner{position: relative;width: 100%;height: 450px;background-color: #687dab;background: url(../img/bg.jpg) no-repeat center top;background-size: 680px !important;text-align: center;}
.banner .mask{position: absolute;top: 0px;left: 0px;width: 100%;height: 100%;background-color: rgba(43, 73, 141, 0.7);z-index: 101}
.banner .container{position: relative;height:100%;z-index: 102;color: #fff;overflow: hidden;line-height: 1em;}
.banner .title,
.banner .sub-title{margin: 0 auto;}
.banner .title{width:100%;font-size: 32px;margin-top: 105px;}
.banner .sub-title{width:100%;padding:0px 20px;font-size: 14px;margin-top: 30px;text-align: center;line-height: 28px;}
.banner .phone-num{display: block;font-size: 16px;margin-top: 40px;color: #fff;}
.banner .phone-num .btn-ghost{display: block;width: 200px;height: 42px;line-height: 42px;border:1px solid #fff;border-radius: 42px;text-align: center;margin: 0 auto;font-size: 14px;color: #fff;}

.header{position: absolute;top: 0px;left: 0px;width: 100%;margin-top:40px;height: 18px;line-height: 18px;color: #ffffff;z-index: 1000;text-align: center;}
.header .logo{display: inline-block;width: 55px;height: 18px;background:url(../img/logo_m.png) no-repeat;background-size: 100%;line-height: 800px;overflow: hidden;}
.header .nav{display: none;}

.email{display: none;}
.email.mobile{display: block;position: absolute;bottom: 20px;width:100%;padding:0 20px;text-align: center;font-size: 12px;line-height: 18px;}

.footer{display: block; width: 100%;padding: 35px 20px 35px 20px;text-align: center;color: #8a8b93;font-size: 12px;}
.footer p{ padding-top: 10px;}
.footer a{ color:  #8a8b93;};